# ======= Database (PostgreSQL) =======
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# ======= Sentence Model =======
EMBEDDING_MODEL=sentence-transformers/all-mpnet-base-v2
NLI_MODEL=cross-encoder/nli-deberta-v3-base
EMBEDDING_DIMENSION=768

# ======= Similarity Thresholds =======
SIMILARITY_THRESHOLD=
THRESHOLD_SCALE=
SIMILARITY_TOP_K=
SIMILAR_WORD_THRESHOLD=